# PhpStorm
.idea
.DS_*
._DS_*

# DB
*.sql

# Application
web/app/languages
web/app/plugins/*
web/app/upgrade
web/app/uploads/*
!web/app/mu-plugins/.gitkeep
!web/app/plugins/.gitkeep
!web/app/uploads/.gitkeep


# WordPress
web/wp
web/.htaccess


# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Theme
web/app/themes/imb/node_modules
web/app/themes/imb/assets/vendor
web/app/mu-plugins/wp-user-roles/
web/app/mu-plugins/wp-moj-components/
web/app/themes/imb/assets/js/jquery.js
