// *  { outline: 1px solid grey; }

body {
	font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

a {
	color: @body-text-link;
}

img {
	width: 100%;
	height: auto;
}

.page-header {
	margin-top: 0;

		h1 {
			margin-top: 0;
		}
}

.min-col {


}

.max-col {
	border-left: 1px solid @thin-divider-clr;
}

.main-item {
	display: inline-block;
	border-bottom: 1px solid @thin-divider-clr;
	padding-bottom: 1em;
}

.side-item {
	display: block;
	border-bottom: 5px solid @brand-secondary;
	padding-bottom: 1em;

		&:last-child {
			border-bottom: 0;
		}
}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			color: @body-text-link;
		}
	}

.widget {
	border-bottom: 5px solid @brand-secondary;
	padding-bottom: 1em;
}

.more-link {
	display: block;
	margin: 1em 0 0 0;
	float: right;
}

.em-link {
	font-size: 1.4em;
	color: @dark-text-clr;
	text-decoration: none;
	margin-top: .5em;
	display: inline-block;


	&:hover {
		color: @dark-text-clr;
		text-decoration: underline;
	}
}

.post-date {
     font-size: .75em;
     color: @meta-text-clr;
}

.bg-fade {
	transition: background-color 0.3s ease
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
   }
}

@media (min-width: 768px) {
	.sidebar-primary .main {
	width: 100%!important;
}
}


.img-caption {
	font-size: .9em;
	margin: .5em 0;display: inline-block;
}

.btn img {
	width: auto;
}

.pagination {
	span, a {
		padding: 0 .3em;
	}
}

